<?xml version="1.0" encoding="utf-8" ?>
<phpunit>
    <testsuite name="SimpleXmlRpc">
        <file>tests/ServerProxyStartupTest.php</file>
        <file>tests/MulticallTest.php</file>
        <file>tests/ServerProxyCallTest_http.php</file>
        <!--<file>tests/ServerProxyCallTest_https.php</file>-->
        <file>tests/ServerProxyCallTest_unix.php</file>
        <file>tests/ErrorTest.php</file>
    </testsuite>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>SimpleXmlRpc.php</file>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
</phpunit>